body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url("../images/white-wood.jpg");
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(to right, #FFF, #000);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #b1b106;
  box-shadow:  -1px 1px #b1b106, -2px 2px #b1b106, -3px 3px #b1b106, -4px 4px #b1b106, -5px 5px #b1b106;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #dd1212;
  box-shadow:  -1px 1px #dd1212, -2px 2px #dd1212, -3px 3px #dd1212, -4px 4px #dd1212, -5px 5px #22aa44;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
}

.med {
  width: 203.5%;
  border: 2px solid #000;
}

.large {
  width: 303%;
  border: 2px solid #000;
}
